@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Work Sans", sans-serif; */
* {
    margin: 0px;
    padding: 0px;
}

#hero {
    height: 919px;
    background-image: linear-gradient(0deg, rgb(9, 9, 9) 3.482%, rgba(16, 16, 16, 0) 101.632%), url('../assets/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    width: 1023px;
    height: 391px;
}

.hero-content h1 {
    color: rgb(255, 255, 255);
    font-size: 64px;
    font-weight: 700;
    /* letter-spacing: 0%; */
    text-align: center;
    margin-bottom: 24px;
}

.hero-content .p1 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.8;
    margin-bottom: 16px;

}

.hero-content .p2 {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;

}

.hero-content button {

    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}

.btn {
    padding: 21px 32px 21px 32px;
    border-radius: 8px;
    background: rgb(82, 195, 3);
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.btn-container {
    margin-top: 32px;
    text-align: center;
}

#card {
    /* display: flex;
    justify-content: center; */
}

.card-content {
    height: 742px;
    /* margin-top: 165px; */
    margin: 165px 300px 165px 300px;
}

.card-title {
    color: rgb(16, 16, 16);
    opacity: 0.6;
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.card-heading {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 16px;
}

.image {
    margin-bottom: 32px;
}

.image img {
    width: 424px;
    height: 283px;
}

.btn2 {
    border: none;
    border-radius: 8px;
    background: rgba(229, 246, 217);
    padding: 14px 32px 14px 32px;
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    cursor: pointer;
}

.text h2 {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 600;
    line-height: 47px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 24px;
}

.text p {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 24px;
}

.food-container {
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
    margin-top: 48px;
    /* flex-direction: column; */
}

.btn-margin {
    margin-top: 64px;
}